<div class="container">
    <h2 style="color: #42a59a;">Clientes</h2>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let client of clients">
            <img [src]="client.image" class="mx-auto d-block"/>
        </div>
    </div>
    <h2 style="color: #42a59a;">Colaboraciones</h2>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let col of colaboraciones">
            <img [src]="col.image" class="mx-auto d-block"/>
        </div>
    </div>
</div>
