<div class="gp-footer text-center">
    <h5 class="footer-text">Contáctanos</h5>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-1">
            </div>
             <div class="p-1">
                <a href="http://bit.ly/GP-Developer-WhatsApp" target="_blank"><img class="social-icon" src="assets/images/social_icons/whastapp.png" /></a>
                <a href="mailto:gp.developer.info@gmail.com"><img class="social-icon" src="assets/images/social_icons/email.png" /></a>
             </div>
             <div class="p-1">
            </div>
        </div>
    </div>
    <h5 class="footer-text">Regístrate para recibir noticias</h5>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-sm">
                    <input type="text" class="form-control control-rounded" placeholder="Nombre">
                </div>
                <div class="col-sm">
                    <input type="email" class="form-control control-rounded" placeholder="Correo">
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-gp btn-block control-rounded">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-1">
            </div>
            <div class="col-sm">
                <a href="https://www.facebook.com/GP-Developer-109414460435410/" target="_blank"><img class="social-icon" src="assets/images/social_icons/facebook.png" /></a>
                <img class="social-icon" src="assets/images/social_icons/youtube.png" />
                <a href="https://www.instagram.com/gp_developer/" target="_blank"><img class="social-icon" src="assets/images/social_icons/instagram.png" /></a>
            </div>
             <div class="p-1">
            </div>
        </div>
    </div>
</div>