.gp-footer {
  background-color: #707070;
  padding: 20px;
}

.footer-text {
  color: white;
}

.control-rounded {
  border-radius: 1rem;
  margin: 10px;
}

.btn-gp {
  color: white;
  background-color: #42a59a;
}

.social-icon {
  padding: 5px;
}
