<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto my-2 order-0 order-md-1 position-relative">
            <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
            </li>
             <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
            </li>
             <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/portafolio']">Portafolio</a>
            </li>
             <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/contactanos']">Contáctanos</a>
            </li>
             <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/blog']">Blog</a>
            </li>
        </ul>
    </div>
</nav>