<div class="container">
    <h2>Planes</h2>
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let plan of planes">
            <img [src]="plan" class="img-service mx-auto d-block"/>
        </div>
    </div>
    <h2>Paquetes</h2>
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let paq of paquetes">
            <img [src]="paq" class="img-service mx-auto d-block"/>
        </div>
    </div>
</div>