<div class="container">
    <div class="row">
        <div class="col-6 col-md-4" *ngFor="let service of services">
            <img [src]="service.image" class="img-service mx-auto d-block"/>
            <p class="text-center" style="color: #42a59a;">{{service.description}}</p>
        </div>
    </div>
</div>